* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.app {
	height: 100vh;
	background: #264653;
	color: #eee;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	font-size: 2rem;
}

.navbar {
	width: 100%;
	padding: 2.4rem;
	text-align: center;
}

.todo-input,
.btn {
	padding: 1.2rem 2.4rem;
	border: none;
	font-size: 1.2rem;
}

.todo-item {
	margin: auto;
	width: 400px;
	padding: 1.2rem;
	border-bottom: 1px solid #e9c46a;
}

.todo-item:hover {
	text-decoration: line-through;
	color: #e76f51;
}
